# Database Configuration
POSTGRES_USER=shurun_user
POSTGRES_PASSWORD=shurun_password
POSTGRES_DB=shurun_db

# Host Port Configuration
FRONTEND_PORT=3000
BACKEND_PORT=8000
DB_PORT=5433

# API Configuration
ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,http://app.shustudio.kz
